* {
  box-sizing: border-box;
}

body {
  font-family: "Encode Sans", sans-serif;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}
.sub-body {
  margin: 0 auto;
  width: 414px;
  height: 1150px;
  background-color: #eeeeee;
}

header {
  width: 414px;
  height: 92px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #cf2b2b;
}

header p {
  margin-left: 21px;
}

.title-driven {
  font-family: "Righteous";
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 55px;
  letter-spacing: -0, 012em;
  color: #ffffff;
}

.subtitle-driven {
  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.text {
  width: 414px;
  height: 73px;
}

.text1 {
  margin-top: 31px;
  margin-left: 19px;
  font-family: "Righteous";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.018em;

  color: #333333;
}

.box-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  gap: 16px;
  height: 216px;
  margin-left: 19px;
}

.box-eats:first-child {
  margin-left: 19px;
}

.box-eats {
  width: 172px;
  height: 216px;

  scroll-snap-align: start;
  /* pointer-events: none; nunca mais coloque essa propriedade */

  background: #ffffff;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.order {
  margin-top: 18px;
  display: flex;
  justify-content: center;
}

.title-order {
  width: 139px;
  height: 23px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  margin-top: 8px;
  margin-left: 15px;
}

.description {
  width: 147px;

  margin-top: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  margin-left: 15px;
}

.fooda {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.border {
  border: 4px solid #32b72f;
}

.border ion-icon {
  display: block;
}

.price {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-left: 14px;
  margin-top: 5px;
}

.price-icon {
  width: 147px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ion-icon {
  font-size: 22px;
  color: #32b72f;
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 414px;
  height: 92px;
  margin-top: 16px;
  background-color: #ffffff;
  border: 1px solid white;
  bottom: 0px;
  position: fixed;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 364px;
  height: 61px;
  background: #cbcbcb;
  border-radius: 50px;
}

.box-text {
  width: 190px;
  height: 46px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.018em;
  color: white;
}

.close{
  background-color: #32b72f;
  text-decoration: inherit;
}

@media (max-width: 736px) {
  .sub-body {
    justify-content: center;
  }

  .box-center {
    overflow: auto;
  }
}

.order-pay {
  display: flex;
  flex-direction: column;
  width: 377px;
  height: 353px;
  background-color: #50d074;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.text-confirm {
  margin-top: 21px;
  border: 1px solid red;
  width: 376px;
  height: 27px;

  margin-bottom: 28px;
}

.text-confirm p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-align: center;

  color: #ffffff;
}

.text-product-price {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  margin-left: 26px;
  margin-right: 25px;

  border: 1px solid red;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.018em;
  color: #ffffff;
}

.text-product-total {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  margin-left: 26px;
  margin-right: 25px;

  border: 1px solid red;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.018em;

  color: #ffffff;
}

.cancelar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 333px;
  height: 52px;
  margin-left: 26px;
  margin-right: 25px;
  border: 1px solid red;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;

  letter-spacing: 0.018em;

  color: #ffffff;
  background-color: #50d074;
}

.escondido {
  display: none;
}


.opacity{
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.80;
  z-index: 3;
}

.order-hidden {
  display: none;
}


.confirm{
  width: 377px;
  height: auto;
  min-height: 380px;
  z-index: 5;
  background-color: #50d074;
  top: calc((100% - 377px)/2);
  left: calc((100% - 377px)/2);
  position: fixed;
  border-radius: 9px;
  opacity: 1;
}

